# TAREA 2 Camilo Bahamon

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1oLju-lESNCLwHmCTI_PteIkwWUTRBSdW?usp=sharing)

# Primer punto

In [7]:
from datetime import date, datetime

def calculate_age(birth_date):
    today = date.today()
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))
    return age

birth_date_str = input("Ingrese su fecha de nacimiento (dd/mm/yyyy): ")
birth_date = datetime.strptime(birth_date_str, "%d/%m/%Y").date()
age = calculate_age(birth_date)
print("Su edad es:", age)

Ingrese su fecha de nacimiento (dd/mm/yyyy): 23/12/2003
Su edad es: 19

# SEGUNDO PUNTO

In [8]:
def escribir_centrado(texto):
    ancho_terminal = 80
    texto_centrado = texto.center(ancho_terminal)
    print(texto_centrado)

texto = input("Ingrese un texto: ")
escribir_centrado(texto)

Ingrese un texto: hola
                                      hola

# TERCER PUNTO

In [9]:
def markdown(func):
    def wrapper(texto):
        texto_marcado = f"**_ {texto} _**"
        return func(texto_marcado)
    return wrapper

@markdown
def escribir(texto):
    print(texto)

texto = input("Ingrese un texto: ")
escribir(texto)

Ingrese un texto: hola
**_ hola _**

# CUARTO PUNTO

In [10]:
def mult( x,y ):
  if( x%y==0 ):
    return(print(str(x)+" es multiplo de " +str(y)))
  else:
    return(print(str(x)+" no es multiplo de " +str(y)))

In [11]:
mult(4,20)

4 no es multiplo de 20

In [12]:
mult(4,30)

4 no es multiplo de 30

# QUINTO PUNTO

In [16]:
def media(x):
  y=0
  for i in range(24):
    y=y+x[i]
  return(y/24)

In [19]:
x=list(range(24))
for i in range(24):
  x[i] = int(input("Deme la " + f"{i+1} ésima"+" temperatura"))

Deme la 1 ésima temperatura1
Deme la 2 ésima temperatura1
Deme la 3 ésima temperatura1
Deme la 4 ésima temperatura1
Deme la 5 ésima temperatura1
Deme la 6 ésima temperatura1
Deme la 7 ésima temperatura1
Deme la 8 ésima temperatura1
Deme la 9 ésima temperatura1
Deme la 10 ésima temperatura1
Deme la 11 ésima temperatura1
Deme la 12 ésima temperatura1
Deme la 13 ésima temperatura1
Deme la 14 ésima temperatura1
Deme la 15 ésima temperatura1
Deme la 16 ésima temperatura1
Deme la 17 ésima temperatura1
Deme la 18 ésima temperatura1
Deme la 19 ésima temperatura1
Deme la 20 ésima temperatura1
Deme la 21 ésima temperatura1
Deme la 22 ésima temperatura1
Deme la 23 ésima temperatura1
Deme la 24 ésima temperatura1

In [20]:
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [21]:
print("la temperatura media es: " + str(sum(x)/24))

la temperatura media es: 1.0

# SEXTO PUNTO

In [ ]:
def esp(x):
  y=""
  for i in range(len(x)):
    y= y +f"{x[i]} "
  return(y)

In [ ]:
print(esp("eeee"))

e e e e

# SEPTIMO

In [22]:
import math

def calcular_area_perimetro_circunferencia(radio):
    area = math.pi * radio ** 2
    perimetro = 2 * math.pi * radio
    return area, perimetro

In [23]:
radio = 5
area, perimetro = calcular_area_perimetro_circunferencia(radio)
print("Radio:", radio)
print("Área:", area)
print("Perímetro:", perimetro)

Radio: 5
Área: 78.53981633974483
Perímetro: 31.41592653589793

# OCTAVO

In [24]:
def Login(usuario, password, intentos):
    if usuario == "usuario1" and password == "asdasd":
        return True, intentos
    else:
        intentos += 1
        return False, intentos

In [26]:
intentos = 0
usuario = input("Ingrese su usuario: ")
password = input("Ingrese su contraseña: ")
login_exitoso, intentos = Login(usuario, password, intentos)

if login_exitoso:
    print("Bienvenido")
else:
    print("Usuario o contraseña incorrectos. Intento número:", intentos)

Ingrese su usuario: usuario1
Ingrese su contraseña: asdasd
Bienvenido

# NOVENO

In [27]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [28]:
numero = int(input("Ingresa un número entero: "))
resultado = factorial(numero)
print(f"El factorial de {numero} es {resultado}")

Ingresa un número entero: 5
El factorial de 5 es 120

# DECIMO

In [29]:
def calcular_segundos(horas, minutos, segundos):
    total_segundos = (horas * 3600) + (minutos * 60) + segundos
    return total_segundos

In [30]:
def calcular_tiempo(total_segundos):
    horas = total_segundos // 3600
    minutos = (total_segundos % 3600) // 60
    segundos = (total_segundos % 3600) % 60
    return horas, minutos, segundos

In [31]:
# Ejemplo de uso de las funciones
horas = 2
minutos = 30
segundos = 45

total_segundos = calcular_segundos(horas, minutos, segundos)
print("Total de segundos:", total_segundos)

horas, minutos, segundos = calcular_tiempo(total_segundos)
print("Horas:", horas)
print("Minutos:", minutos)
print("Segundos:", segundos)

Total de segundos: 9045
Horas: 2
Minutos: 30
Segundos: 45

# DECIMO PRIMERO

In [37]:
def invert_tuple(tup):
    inverted_tup = tuple(reversed(tup))
    return inverted_tup

In [39]:
tup1 = (1, 2, 3, 4, 5)

print(invert_tuple(tup1))  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

# DECIMO SEGUNDO

In [40]:
import functools

from functools import reduce
def media_geometrica(lista):
    prod = reduce(lambda x, y: x * y, lista)
    return prod ** (1/len(lista))

In [41]:
lista = [2, 4, 8]
med_geo = media_geometrica(lista)
print("La media geométrica de la lista es:", med_geo)

La media geométrica de la lista es: 3.9999999999999996