# TAREA 2

# Primer punto

In [4]:
from datetime import date, datetime

def calculate_age(birth_date):
    today = date.today()
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))
    return age

birth_date_str = input("Ingrese su fecha de nacimiento (dd/mm/yyyy): ")
birth_date = datetime.strptime(birth_date_str, "%d/%m/%Y").date()
age = calculate_age(birth_date)
print("Su edad es:", age)

Ingrese su fecha de nacimiento (dd/mm/yyyy): 11/09/2003
Su edad es: 19

# SEGUNDO PUNTO

In [5]:
def escribir_centrado(texto):
    ancho_terminal = 80
    texto_centrado = texto.center(ancho_terminal)
    print(texto_centrado)

texto = input("Ingrese un texto: ")
escribir_centrado(texto)

Ingrese un texto: NICOLAS
                                    NICOLAS

# TERCER PUNTO

In [6]:
def markdown(func):
    def wrapper(texto):
        texto_marcado = f"**_ {texto} _**"
        return func(texto_marcado)
    return wrapper

@markdown
def escribir(texto):
    print(texto)

texto = input("Ingrese un texto: ")
escribir(texto)

Ingrese un texto: AKSKDK
**_ AKSKDK _**

# CUARTO PUNTO

In [7]:
def mult( x,y ):
  if( x%y==0 ):
    return(print(str(x)+" es multiplo de " +str(y)))
  else:
    return(print(str(x)+" no es multiplo de " +str(y)))

In [8]:
mult(4,54)

4 no es multiplo de 54

In [9]:
mult(4,3121
     1)

4 no es multiplo de 3

# QUINTO PUNTO

In [10]:
def media(x):
  y=0
  for i in range(24):
    y=y+x[i]
  return(y/24)

In [15]:

x=list(range(24))
for i in range(24):
  x[i] = int(input("Deme la " + f"{i+1} ésima"+" temperatura"))

Deme la 1 ésima temperatura3
Deme la 2 ésima temperatura2
Deme la 3 ésima temperatura5
Deme la 4 ésima temperatura3
Deme la 5 ésima temperatura11
Deme la 6 ésima temperatura2
Deme la 7 ésima temperatura1
Deme la 8 ésima temperatura3
Deme la 9 ésima temperatura4
Deme la 10 ésima temperatura5
Deme la 11 ésima temperatura6
Deme la 12 ésima temperatura7
Deme la 13 ésima temperatura8
Deme la 14 ésima temperatura3
Deme la 15 ésima temperatura2
Deme la 16 ésima temperatura3
Deme la 17 ésima temperatura4
Deme la 18 ésima temperatura5
Deme la 19 ésima temperatura6
Deme la 20 ésima temperatura2
Deme la 21 ésima temperatura1
Deme la 22 ésima temperatura1
Deme la 23 ésima temperatura2
Deme la 24 ésima temperatura2222

In [16]:
x

[3, 2, 5, 3, 11, 2, 1, 3, 4, 5, 6, 7, 8, 3, 2, 3, 4, 5, 6, 2, 1, 1, 2, 2222]

In [17]:
print("la temperatura media es: " + str(sum(x)/24))

la temperatura media es: 96.29166666666667

# SEXTO PUNTO

In [18]:
def esp(x):
  y=""
  for i in range(len(x)):
    y= y +f"{x[i]} "
  return(y)

In [19]:
print(esp("NICOLAS"))

N I C O L A S

# SEPTIMO

In [20]:
import math

def calcular_area_perimetro_circunferencia(radio):
    area = math.pi * radio ** 2
    perimetro = 2 * math.pi * radio
    return area, perimetro

In [21]:
radio = 5
area, perimetro = calcular_area_perimetro_circunferencia(radio)
print("Radio:", radio)
print("Área:", area)
print("Perímetro:", perimetro)

Radio: 5
Área: 78.53981633974483
Perímetro: 31.41592653589793

# OCTAVO

In [22]:
def Login(usuario, password, intentos):
    if usuario == "usuario1" and password == "NICOLAS":
        return True, intentos
    else:
        intentos += 1
        return False, intentos

In [23]:
intentos = 0
usuario = input("Ingrese su usuario: ")
password = input("Ingrese su contraseña: ")
login_exitoso, intentos = Login(usuario, password, intentos)

if login_exitoso:
    print("Bienvenido")
else:
    print("Usuario o contraseña incorrectos. Intento número:", intentos)

Ingrese su usuario: NICOLAS
Ingrese su contraseña: DD
Usuario o contraseña incorrectos. Intento número: 1

# NOVENO

In [24]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [25]:
numero = int(input("Ingresa un número entero: "))
resultado = factorial(numero)
print(f"El factorial de {numero} es {resultado}")

Ingresa un número entero: 5
El factorial de 5 es 120

# DECIMO

In [26]:
def calcular_segundos(horas, minutos, segundos):
    total_segundos = (horas * 3600) + (minutos * 60) + segundos
    return total_segundos

In [27]:
def calcular_tiempo(total_segundos):
    horas = total_segundos // 3600
    minutos = (total_segundos % 3600) // 60
    segundos = (total_segundos % 3600) % 60
    return horas, minutos, segundos

In [28]:
# Ejemplo de uso de las funciones
horas = 5
minutos = 30
segundos = 45

total_segundos = calcular_segundos(horas, minutos, segundos)
print("Total de segundos:", total_segundos)

horas, minutos, segundos = calcular_tiempo(total_segundos)
print("Horas:", horas)
print("Minutos:", minutos)
print("Segundos:", segundos)

Total de segundos: 19845
Horas: 5
Minutos: 30
Segundos: 45

# DECIMO PRIMERO

In [29]:
def invert_tuple(tup):
    inverted_tup = tuple(reversed(tup))
    return inverted_tup

In [30]:
tup1 = (1, 2, 3, 4, 5)

print(invert_tuple(tup1))  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

# DECIMO SEGUNDO

In [31]:
import functools

from functools import reduce
def media_geometrica(lista):
    prod = reduce(lambda x, y: x * y, lista)
    return prod ** (1/len(lista))

In [32]:
lista = [2, 4, 8,8,9]
med_geo = media_geometrica(lista)
print("La media geométrica de la lista es:", med_geo)

La media geométrica de la lista es: 5.403840154082454